[Unit]
Description=Update Kubernetes Deployments
After=network.target

[Service]
Type=simple
User=itadmin
# Ensure the git repository is up to date before starting the main script
ExecStartPre=/usr/bin/git -C /path/to/repo pull
ExecStart=/path/to/update-k8s-deployments.sh
WorkingDirectory=/path/to

# Automatically restart the process if it exits
Restart=always
# Time to sleep before restarting the service
RestartSec=10s

[Install]
WantedBy=multi-user.target
